.card-container {
    width: 15rem;
    display: inline-block;
    border-radius: 15px;
    margin: 2rem;
    -webkit-box-shadow: 2px 4px 7px 0px rgba(0,0,0,0.26); 
    box-shadow: 2px 4px 7px 0px rgba(0,0,0,0.26);
}